# vscode configs
.vscode/

# exclude node modules
node_modules/

# exclude spotify_data.csv (too large)
backend/src/db/spotify_data.csv

# environment variables
.env*

# Python virtual environment
venv/

# pycache
__pycache__

# pytest cache
.pytest_cache/