# vscode configs
.vscode/

# exclude node modules
node_modules/

# exclude spotify_data.csv (too large)
src/server/db/spotify_data.csv

# environment variables
.env
.env.docker

# Python virtual environment
venv/

# Python cache
src/server/algorithm/python_ML/__pycache__/
src/server/algorithm/python_ML/tests/__pycache__

# pytest cache
.pytest_cache/