# vscode configs
.vscode/

# exclude node modules
node_modules/

# exclude spotify_data.csv (too large)
backend/src/db/spotify_data.csv

# environment variables
.env
.env.docker.backend
.env.docker.frontend

# Python virtual environment
venv/

# pytest cache
.pytest_cache/